
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form>
    <fieldset>
        <legend>
            Datos del Pais
        </legend>
        <did class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" />
        </did>
        <did class="form-group">
            <label for="estado">Estado</label>
            <input type="checkbox" name="estado" />
        </did>
        <did class="form-group">
           <button type="submit" class="btn btn-success btn-lg btn-block" >Guardar</button>
        </did>
    </fieldset>

</form>

