
@{
    ViewBag.Title = "Index";
}

<h1>Listado de Paises</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th> Codigo </th>
            <th> Nombre </th>
            <th> Estado </th>
            <th> Acciones</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: paises">
        <tr>
            <td data-bind="text:paisId"></td>
            <td data-bind="text:nombre"></td>
            <td><input type="checkbox" data-bind="value:estado" readonly /></td>
            <td>
                <a href="/pais/editar" class="btn btn-info btn-sm">Editar</a>
                <button class="btn btn-danger btn-sm" data-bind="click:borrarPais">Borrar</button>
            </td>
        </tr>
    </tbody>

</table>


<script>
    (function () {
        function vm = {
            var self = this;


            self.title = ko.observable('Pais');

            self.paises = ko.observableArray([
                { paisId: 1, nombre: "Republica Dominicana", estado: 0 },
                { paisId: 2, nombre: "Haiti", estado: 0 },
            ]);


            self.borrarPais = function () {
                var res = confirm("Seguro que desea borrar?");
                if (res) {
                    self.getPaises();
                }
            }

            self.getPaises = function () {
                $.get('/pais/listarPaises', function (data) {
                    self.paises = data;
                    console.log(self.paises);
                });
            }

            //self.getPaises();
        }

       // vm.paises = 

        ko.applyBindings(vm);

    })();  


   

</script>

